<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{{title}}}</h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Total</th>
                                <th>Shipping</th>
                                <th>User</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}

                            <tr>
                                <th>
                                    <a href="/product/order-details/{{_id}}">
                                        {{#each item}}
                                        {{product.title}}
                                        {{/each}}
                                    </a>
                                </th>
                                <td>{{total}}</td>
                                <td>{{shippingCost}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{status}}</td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>