<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{{title}}} {{namaUpline}}</h6>
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th class="text-left">Nama</th>
                                <th>License</th>
                                <th>Team Member</th>
                                <th>No. Rekening</th>
                                <th>Commission</th>
                                {{!-- <th colspan="2" class="text-center">Activity</th> --}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <th class="text-left"><a href="/member/profile/{{_id}}">{{fullName}}</a></th>
                                <td>{{license}}</td>
                                <td><a href="/team-member/{{_id}}"> {{downline.length}}</a></td>
                                <td>{{bankNumber}}</td>
                                <td><a href="/commission/{{_id}}">{{komisi}}</a></td>
                                <td>
                                    {{#each license}}
                                    {{this.name}}
                                    {{/each}}
                                </td>
                                {{!-- <td><a href="/membership/delete/{{_id}}" class="text-danger">View Team</td>
                                <td><a href="/membership/delete/{{_id}}" class="text-danger">View Profile</td> --}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>