<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{{title}}} <a href="/membership/add" class="btn btn-primary btn-xs">Add</a></h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Price</th>
                                <th>Commission</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <th><a href="/membership/edit/{{_id}}">{{name}}</a></th>
                                <td>{{price}}</td>
                                <td>{{commission}}</td>
                                <td><a href="/membership/delete/{{_id}}" class="text-danger">Delete</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>