<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{{title}}}</h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Waktu Submit</th>
                                <th>Nama</th>
                                <th>Email</th>
                                <th>Funnel</th>
                                <th>Platform</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            {{#each leads}}
                            <tr>
                                <th>{{tanggal}}</th>
                                <th>{{fullName}}</th>
                                <td>{{email}}</td>
                                <td>{{funnel}}</td>
                                <td>{{platform}}</td>
                            </tr>
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>